@use '../../variabls' as *;

.contenu{
    padding-left: 5%;
    padding-right: 5%;
}

form{
    width: 50%;

    button{
            background-color: $marronGlobal !important;
            border-color: $marronGlobal !important;
        }
        button:hover{
            background-color: $marronHover !important;
            border-color: $marronHover !important;
        }
        
        .form-control::placeholder {
            color: $marronGlobal !important;
            opacity: 80%;
        }

}

@media screen and (max-width: 640px) {
    form{
        width: 80%;   
    }    
}