@use '../../variabls' as *;


#products{
    background-color: $marronGlobal;
    h2 {
        color: $textBlanc;
    }

    .card{
        width: 100%;
        border: none;
        img{
            max-height: 160px;
            object-fit: cover;
        }
        
    }
}



@media screen and (max-width: 640px) {
    .box{
        margin-bottom: 4%;        
    }    
}