<div id="header" class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="title text-center">
        @if (monArticle(); as article) {
            <H1 class="fw-bold fs-1">{{ article.titre }}</H1>
            <p>{{ article.contenu }}</p>
            <!-- <a href="#laCarte">
                Voir la carte
            </a> -->
            <button type="button" class="btn btn-secondary mt-2 align-self-start" href="#products">
                {{ article.libelle_lien }}
            </button>

        }

    </div>
</div>
