<div id="APropos" class="py-5">
    <div class="container py-5">
        <div class="box d-flex flex-column flex-md-row gap-3">
            @if (monArticle(); as article) {
                <div class="col-12 col-md-6 me-3 align-self-center">
                    <div class="d-flex flex-column">
                        <h2 class="fw-bold">{{ article.titre }}</h2>
                        <p>{{ article.contenu }}</p>

                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <img class="imgAPropos shadow img-fluid w-100" [src]="article.photoUrl" >
                </div>
                }
        </div>

    </div>
</div>

